*,
*::before,
*::after {
  padding: 0;
  margin: 0;
}

img {
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: #757575;
  background-color: #ffffff;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.about-us .title {
  margin-bottom: 50px;
}

.team .title {
  margin-bottom: 50px;
}

.clients .title {
  margin-bottom: 50px;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
  .header .container {
    display: flex;
  }
  .portfolio-selector .container {
    padding-top: 94px;
    padding-bottom: 34px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 93px 15px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 450px;
  height: 609px;
  background-color: white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  padding: 40px;
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: #212121;
  text-align: center;
  margin-bottom: 12px;
}

.backdrop.is-hidden .modal {
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transform: translate(-50%, -50%) scale(0);
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
}

.close-svg {
  width: 11px;
  height: 11px;
  fill: black;
}

.close-svg:focus, .close-svg:hover {
  outline: none;
  fill: #2196f3;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-field {
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-form-field-wrapper {
  display: block;
  position: relative;
  margin-top: 4px;
}

.modal-form-input {
  display: block;
  width: 100%;
  height: 40px;
  padding-left: 42px;
}

.modal-form-message {
  display: block;
  margin-top: 4px;
  width: 100%;
  height: 120px;
  resize: none;
  padding: 12px 16px;
}

.modal-form-message::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-input,
.modal-form-message {
  color: #757575;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus,
.modal-form-message:focus {
  outline: none;
  border: 1px solid #2196f3;
}

.modal-form-input:hover,
.modal-form-message:hover {
  border: 1px solid #2196f3;
  cursor: pointer;
}

.modal-form-svg {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  fill: #212121;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus + .modal-form-svg {
  fill: #2196f3;
}

.modal-form-input:hover + .modal-form-svg {
  fill: #2196f3;
}

.icon-name,
.icon-tel {
  width: 12px;
  height: 12px;
}

.icon-mail {
  width: 15px;
  height: 12px;
}

.modal-form-policy {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.modal-form-policy-label {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: #757575;
  padding-top: 10px;
  margin-bottom: 30px;
}

.checkbox-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 1px solid #000000;
  border-radius: 4px;
  margin-right: 7px;
}

.modal-form-policy:checked + .checkbox-icon {
  border: 1px solid #2196f3;
  background-color: #2196f3;
  background-image: url(../images/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
}

.modal-form-btn {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  padding: 10px 28px;
  min-width: 200px;
  height: 50px;
  border-radius: 4px;
  border-style: hidden;
  margin: 0 auto;
  background-color: #2196f3;
  cursor: pointer;
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
  .modal-title {
    line-height: 1.15;
  }
  .modal-form {
    font-size: 12px;
  }
  .modal-form::placeholder {
    font-size: 12px;
    line-height: 1.167;
  }
  .modal-form-policy-label {
    font-size: 14px;
    line-height: 1.714;
  }
  .modal-form-policy-label a {
    font-size: 14px;
    line-height: 1.714;
  }
}

.header {
  position: relative;
  border-bottom: 1px solid #ececec;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: black;
}

.logo-chapter {
  color: #2196f3;
}

.navigation-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: #212121;
}

.navigation-list-link:hover, .navigation-list-link:focus, .navigation-list-link:active {
  color: #2196f3;
  cursor: pointer;
}

.navigation-list-link.current {
  position: relative;
  color: #2196f3;
}

.navigation-list-link.current::after {
  position: absolute;
  display: block;
  content: '';
  bottom: -8px;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
}

.adress-list-link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: #757575;
}

.adress-list-link:hover, .adress-list-link:focus {
  color: #2196f3;
}

.adress-icon {
  margin-right: 10px;
  fill: #757575;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.adress-list-link:hover .adress-icon,
.adress-list-link:focus .adress-icon {
  fill: #2196f3;
}

.icon-mail-svg {
  width: 16px;
  height: 12px;
}

.icon-tel-svg {
  width: 10px;
  height: 16px;
}

.adress-list-link,
.navigation-list-link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .header {
    padding: 16px 0;
  }
  .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .menu-button {
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
  }
  .icon-cross {
    display: none;
  }
  .is-open .icon-cross {
    display: block;
  }
  .icon-cross:hover, .icon-cross:focus, .icon-cross:active {
    fill: #2196f3;
  }
  .is-open .icon-menu {
    display: none;
  }
  .icon-menu:hover, .icon-menu:focus, .icon-menu:active {
    fill: #2196f3;
  }
  .icon-menu,
  .icon-cross {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu-container {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 393px;
    background-color: #ffffff;
  }
  .menu-container.is-open {
    padding: 60px 0;
    display: block;
    z-index: 10;
  }
  .menu-container.list {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .navigation-list {
    text-align: center;
    margin-bottom: 60px;
  }
  .navigation-list-item:not(:last-child) {
    margin-bottom: 40px;
  }
  .adress-list-item {
    display: flex;
    justify-content: center;
  }
  .adress-list-item:not(:last-child) {
    margin-bottom: 16px;
  }
  .navigation-list-link,
  .adress-list-link {
    font-size: 18px;
    line-height: 1.167;
  }
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
  .header {
    padding: 16px 0;
  }
  .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo {
    font-size: 24px;
    line-height: 1.167;
  }
  .menu-container-list {
    display: flex;
    align-items: center;
  }
  .navigation-list {
    display: flex;
    margin-right: 82px;
  }
  .navigation-list-item:not(:last-child) {
    margin-right: 50px;
  }
  .navigation-list-link.current::after {
    left: 0;
    top: 41px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .adress-list-item:not(:last-child) {
    margin-bottom: 10px;
  }
  .adress-list .adress-list-link {
    font-size: 12px;
    line-height: 1.167;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    display: flex;
    align-items: center;
    height: 76px;
  }
  .logo {
    font-size: 26px;
    line-height: 1.192;
    margin-right: 94px;
  }
  .navigation {
    display: flex;
    align-items: center;
  }
  .navigation-list {
    margin-right: 305px;
    display: flex;
    align-items: center;
  }
  .navigation-list-link.current::after {
    left: 0;
    top: 42px;
  }
  .navigation-list-item:not(:last-child) {
    margin-right: 50px;
  }
  .adress-list {
    display: flex;
  }
  .adress-list-item {
    margin-bottom: 0;
  }
  .adress-list-item:not(:last-child) {
    display: flex;
    align-items: center;
    margin-right: 30px;
  }
  .adress-list-link {
    font-size: 14px;
    line-height: 1.143;
  }
}

.hero {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/bg-mobile.jpg");
  background-repeat: no-repeat;
  background-size: 480px 400px;
  background-position: center;
  margin: 0 auto;
  padding: 118px 0;
}

.hero-title {
  font-weight: 900;
  text-align: center;
  margin: 0 auto;
  font-size: 26px;
  line-height: 1.615;
  width: 360px;
  padding-bottom: 30px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.hero-btn {
  text-align: center;
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 320px), screen and (min-resolution: 192dpi) and (min-width: 320px), screen and (min-resolution: 2dppx) and (min-width: 320px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/bg-mobile@2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/bg-tablet.jpg");
    background-size: 768px 400px;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/bg-tablet@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/bg-desktop.jpg");
    background-size: 1600px 600px;
  }
  .hero-title {
    font-size: 44px;
    line-height: 1.364;
    width: 696px;
    padding-bottom: 40px;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/bg-desktop@2x.jpg");
  }
}

.modal-btn {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  padding: 10px 28px;
  min-width: 200px;
  height: 50px;
  border-radius: 4px;
  border-style: hidden;
  margin: 0 auto;
  cursor: pointer;
}

.features {
  padding-top: 60px;
  padding-bottom: 60px;
}

.features-img {
  margin: 0 auto;
  text-align: center;
}

.features-img .features-img-icon {
  width: 70px;
  height: 70px;
  margin: 25px auto;
}

.sub-title {
  margin-top: 30px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10px;
  color: #212121;
}

.features-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .features-list-item {
    width: 100%;
  }
  .features-list-item:nth-child(-n + 3) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .features-list {
    display: flex;
    flex-wrap: wrap;
  }
  .features-list-item {
    width: calc((100% - 2 * 15px) / 2);
  }
  .features-list-item:not(:nth-child(2n)) {
    margin-right: 30px;
  }
  .features-list-item:nth-child(-n + 2) {
    margin-bottom: 30px;
  }
  .sub-title {
    text-align: left;
  }
}

@media screen and (min-width: 1200px) {
  .features {
    padding: 94px 0;
  }
  .features-list {
    display: flex;
    flex-wrap: nowrap;
  }
  .features-list-item:not(:last-child) {
    margin-right: 30px;
  }
  .features-img .features-img-icon {
    margin: 25px 100px;
  }
}

.about-us {
  padding-bottom: 94px;
}

.about-us-list {
  display: flex;
  justify-content: space-between;
}

.about-us-list-item {
  position: relative;
}

.about-us-list-subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  margin: 0 auto;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.overlay {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  bottom: 0;
  left: 0;
  background: rgba(47, 48, 58, 0.8);
}

@media screen and (max-width: 1199px) {
  .about-us {
    display: none;
  }
}

.team {
  background-color: #f5f4fa;
  padding-top: 60px;
  padding-bottom: 60px;
}

.team-sub-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 10px;
}

.team-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.team-list-item {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list-item-img {
  width: 100%;
  margin: 0 auto;
}

.team-list-content {
  padding-top: 30px;
  padding-bottom: 16px;
}

.social-list {
  display: flex;
  justify-content: center;
}

.social-list-item:not(:last-child) {
  margin-right: 10px;
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background: #ffffff;
  border-radius: 50%;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover, .social-list-link:focus {
  background-color: #2196f3;
}

.social-list-svg {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover .social-list-svg,
.social-list-link:focus .social-list-svg {
  fill: #ffffff;
}

@media screen and (max-width: 767px) {
  .team-list-item:nth-child(-n + 3) {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 1199px) {
  .team .title {
    font-size: 28px;
    line-height: 1.179;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
  }
  .team-list-item {
    width: calc((100% - 2 * 15px) / 2);
  }
  .team-list-item:not(:nth-child(2n)) {
    margin-right: 30px;
  }
  .team-list-item:nth-child(-n + 2) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.167;
    margin-bottom: 50px;
  }
  .team-list {
    display: flex;
  }
  .team-list-item:not(:last-child) {
    margin-right: 30px;
  }
  .team-list-content {
    padding: 30px 32px;
  }
  .social-list {
    justify-content: space-between;
  }
}

.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}

.clients .title {
  font-size: 28px;
  line-height: 1.179;
  margin-bottom: 30px;
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
}

.clients-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list-link:hover, .clients-list-link:focus {
  border: 1px solid #2196f3;
}

.clients-logo-svg {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list-link:hover .clients-logo-svg,
.clients-list-link:focus .clients-logo-svg {
  fill: #2196f3;
}

.logo-one {
  width: 44px;
  height: 49px;
}

.logo-two {
  width: 40px;
  height: 52px;
}

.logo-three {
  width: 41px;
  height: 43px;
}

.logo-four {
  width: 80px;
  height: 42px;
}

.logo-five {
  width: 59px;
  height: 47px;
}

.logo-six {
  width: 89px;
  height: 45px;
}

@media screen and (max-width: 767px) {
  .clients-list-item {
    width: calc((100% - 2 * 15px) / 2);
  }
  .clients-list-item:not(:nth-child(2n)) {
    margin-right: 30px;
  }
  .clients-list-item:nth-child(-n + 4) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients-list-item {
    margin-right: 30px;
    width: calc((100% - 4 * 15px) / 3);
  }
  .clients-list-item:nth-child(3n + 3) {
    margin-right: 0;
  }
  .clients-list-item:nth-child(-n + 3) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 95px;
    padding-bottom: 95px;
  }
  .clients .title {
    font-size: 36px;
    line-height: 1.167;
    margin-bottom: 50px;
  }
  .clients-list {
    display: flex;
    justify-content: space-between;
  }
  .clients-list-link {
    width: 170px;
    height: 90px;
  }
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.footer .contact-list-item {
  text-align: center;
  margin-bottom: 60px;
}

.footer .contact-list-item-maplink, .footer .contact-list-item-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer .contact-list-item-link {
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer .contact-list-item:not(:last-child) {
  margin-bottom: 8px;
}

.footer-logo {
  text-align: center;
  margin-bottom: 20px;
}

.footer .contact-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer .contact-logo-chapter {
  color: #2196f3;
}

.footer-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
  text-align: center;
}

.footer .footer-social {
  width: 206px;
  height: 80px;
  margin: 0 auto;
  margin-bottom: 60px;
}

.footer .footer-social-list {
  display: flex;
  justify-content: space-between;
}

.footer .footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .footer-social-link:hover, .footer .footer-social-link:focus {
  background-color: #2196f3;
}

.footer .footer-svg {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

.footer .subscribe-form-input {
  display: inline-block;
  align-items: center;
  width: 100%;
  height: 50px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  padding: 16px 15px;
  margin-bottom: 20px;
  cursor: pointer;
}

.footer .subscribe-form-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer .subscribe-form-btn {
  display: flex;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  padding: 10px 28px;
  min-width: 200px;
  height: 50px;
  border-radius: 4px;
  border-style: hidden;
  margin: 0 auto;
  color: #ffffff;
  background-color: #2196f3;
  cursor: pointer;
}

.footer .subscribe-form-btn-icon {
  display: inline-block;
  background-size: contain;
  width: 24px;
  height: 24px;
  background-image: url(../images/icon-send.svg);
  fill: #ffffff;
  margin-left: 10px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-items {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
  }
  .footer-contacts {
    width: 50%;
  }
  .footer-social {
    width: 50%;
  }
  .footer-subscribe {
    text-align: center;
    width: 100%;
  }
  .footer .subscribe-form-input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    height: 252px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .footer-items {
    display: flex;
    flex-wrap: nowrap;
  }
  .footer-logo {
    text-align: left;
  }
  .footer-title {
    text-align: left;
  }
  .footer-contacts {
    width: 260px;
    height: 81px;
    text-align: left;
    padding-top: 60px;
    padding-bottom: 60px;
    margin-right: 70px;
  }
  .footer .contact-list-item {
    text-align: left;
  }
  .footer-social {
    width: 206px;
    height: 80px;
    padding-top: 72px;
    padding-bottom: 100px;
  }
  .footer-subscribe {
    width: 570px;
    height: 86px;
    margin-top: 72px;
    margin-left: 94px;
  }
  .footer-subscribe-form {
    display: flex;
    align-items: center;
  }
  .footer .subscribe-form-input {
    margin-bottom: 0;
    margin-right: 12px;
  }
}
/*# sourceMappingURL=main.css.map */