.about-us {
  padding: 94px 0;

  &-list {
    display: flex;
    justify-content: space-between;
  }

  &-list-item {
    position: relative;
  }

  &-list-subtitle {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    margin: 0 auto;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
  }
}

.overlay {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  bottom: 0;
  left: 0;
  background: rgba(47, 48, 58, 0.8);
}

@media screen and (max-width: 1199px) {
  .about-us {
    display: none;
  }
}
