.clients {
  padding-top: 94px;
  padding-bottom: 94px;

  &-list {
    display: flex;
    justify-content: space-between;
  }
}

.clients-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border: 1px solid $accent-color;
  }
}

.clients-logo-svg {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .clients-list-link:hover &,
  .clients-list-link:focus & {
    fill: $accent-color;
  }
}

.logo-one {
  width: 44px;
  height: 49px;
}

.logo-two {
  width: 40px;
  height: 52px;
}

.logo-three {
  width: 41px;
  height: 43px;
}

.logo-four {
  width: 80px;
  height: 42px;
}

.logo-five {
  width: 59px;
  height: 47px;
}

.logo-six {
  width: 89px;
  height: 45px;
}
