.features {
  padding-top: 60px;
  padding-bottom: 60px;

  .features-list-item {
    width: 100%;
  }

  .features-img {
    margin-bottom: 30px;
  }

  .features-img .features-img-icon {
    width: 70px;
    height: 70px;
  }

  .sub-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: $title-text-color;
  }

  .features-description {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .features-list-item:not(:last-child) {
    margin-bottom: 30px;
  }

  .features-img .features-img-icon {
    margin: 25px 190px;
  }

  .sub-title {
    text-align: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .features-list {
    display: flex;
    flex-wrap: wrap;
    // margin-right: -30px;
    // margin-bottom: -30px;
  }

  .features-list-item {
    width: 354px;
    height: 251px;

    margin-bottom: 30px;

    &:not(:nth-child(2n)) {
      margin-right: 30px;
    }

    &::nth-child(-n + 2)) {
      margin-bottom: 0px;
    }
  }

  .features-img .features-img-icon {
    margin: 25px 142px;
  }

  .sub-title {
    text-align: left;
  }
}

@media screen and (min-width: 1200px) {
  .features {
    padding-top: 94px;
  }

  .features-list {
    display: flex;
    flex-wrap: nowrap;
  }

  .features-list-item:not(:last-child) {
    margin-right: 30px;
  }

  .features-list-item:not(:last-child) {
    margin-right: 30px;
  }

  .features-img .features-img-icon {
    margin: 25px 100px;
  }
}
