.features {
  padding-top: 60px;
  padding-bottom: 60px;
}

.features-img {
  margin: 0 auto;
  text-align: center;
}

.features-img .features-img-icon {
  width: 70px;
  height: 70px;
  margin: 25px auto;
}

.sub-title {
  margin-top: 30px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10px;
  color: $title-text-color;
}

.features-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .features-list {
    &-item {
      width: 100%;
    }

    &-item:nth-child(-n + 3) {
      margin-bottom: 30px;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .features-list {
    display: flex;
    flex-wrap: wrap;

    &-item {
      width: calc((100% - 2 * 15px) / 2);
    }

    &-item:not(:nth-child(2n)) {
      margin-right: 30px;
    }

    &-item:nth-child(-n + 2) {
      margin-bottom: 30px;
    }
  }

  .sub-title {
    text-align: left;
  }
}

@media screen and (min-width: 1200px) {
  .features {
    padding: 94px 0;
  }

  .features-list {
    display: flex;
    flex-wrap: nowrap;

    &-item:not(:last-child) {
      margin-right: 30px;
    }
  }

  .features-img .features-img-icon {
    margin: 25px 100px;
  }
}
