.footer {
  background-color: $secondary-background;
  padding-top: 60px;
  padding-bottom: 60px;

  .contact-list-item {
    text-align: center;
    margin-bottom: 60px;

    &-maplink,
    &-link {
      font-weight: 400;
      font-size: 14px;
      line-height: 1.714;
      letter-spacing: 0.03em;
      color: $secondary-text-color;
    }

    &-link {
      letter-spacing: 0.03em;
      color: rgba(255, 255, 255, 0.6);
    }

    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }

  &-logo {
    text-align: center;
    margin-bottom: 20px;
  }

  .contact-logo {
    font-family: $secondary-font;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.192;
    letter-spacing: 0.03em;
    color: $secondary-text-color;

    &-chapter {
      color: $accent-color;
    }
  }

  &-title {
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 20px;
    text-align: center;
  }

  .footer-social {
    width: 206px;
    height: 80px;
    margin: 0 auto;
    margin-bottom: 60px;

    &-list {
      display: flex;
      justify-content: space-between;
    }
  }

  .footer-social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      background-color: $accent-color;
    }
  }

  .footer-svg {
    width: 20px;
    height: 20px;
    fill: $mine-background;
  }

  .subscribe-form-input {
    display: inline-block;
    align-items: center;
    width: 100%;
    height: 50px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: $secondary-text-color;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;
    padding: 16px 15px;
    margin-bottom: 20px;
    cursor: pointer;

    &::placeholder {
      font-weight: 400;
      font-size: 16px;
      line-height: 1.25;
      letter-spacing: 0.03em;
      color: rgba(255, 255, 255, 0.6);
    }
  }

  .subscribe-form-btn {
    display: flex;
    align-items: center;
    font-family: $mine-font;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    text-align: center;
    letter-spacing: 0.06em;
    color: $secondary-text-color;
    padding: 10px 28px;
    min-width: 200px;
    height: 50px;
    border-radius: 4px;
    border-style: hidden;
    margin: 0 auto;
    color: $secondary-text-color;
    background-color: $accent-color;
    cursor: pointer;

    &-icon {
      display: inline-block;
      background-size: contain;
      width: 24px;
      height: 24px;
      background-image: url(../images/icon-send.svg);
      fill: $mine-background;
      margin-left: 10px;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer {
    &-items {
      display: flex;
      flex-wrap: wrap;
      align-items: baseline;
    }

    &-contacts {
      width: 50%;
    }
    &-social {
      width: 50%;
    }
    &-subscribe {
      text-align: center;
      width: 100%;
    }

    .subscribe-form-input {
      width: 450px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    height: 252px;
    padding-top: 0px;
    padding-bottom: 0px;

    &-items {
      display: flex;
      flex-wrap: nowrap;
    }

    &-logo {
      text-align: left;
    }

    &-title {
      text-align: left;
    }

    &-contacts {
      width: 260px;
      height: 81px;
      text-align: left;
      padding-top: 60px;
      padding-bottom: 60px;
      margin-right: 70px;
    }

    .contact-list-item {
      text-align: left;
    }

    &-social {
      width: 206px;
      height: 80px;
      padding-top: 72px;
      padding-bottom: 100px;
    }

    &-subscribe {
      width: 570px;
      height: 86px;
      margin-top: 72px;
      margin-left: 94px;

      &-form {
        display: flex;
        align-items: center;
      }
    }
    .subscribe-form-input {
      margin-bottom: 0;
      margin-right: 12px;
    }
  }
}
