.header {
  position: relative;
  display: flex;
  align-items: center;
  height: 76px;
  border: 1px;
  border-style: solid;
  border-color: #ececec;
}

.logo {
  font-family: $secondary-font;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: black;
  margin-right: 92px;

  &-chapter {
    color: $accent-color;
  }
}

.navigation {
  display: flex;
  align-items: center;

  &-list {
    display: flex;
  }

  &-list-item:not(:last-child) {
    margin-right: 50px;
  }
}

.menu-button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;

  & .icon-cross {
    display: none;
  }

  &.is-open .icon-cross {
    display: block;
  }

  &.is-open .icon-menu {
    display: none;
  }
}

.menu-container {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 600px;
  text-aligh: center;
  padding: 20 px;
  background-color: yellow;

  &.is-open {
    display: block;
  }
}

.navigation-list-link {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: $title-text-color;

  &:hover,
  &:focus,
  &:active {
    color: $accent-color;
    cursor: pointer;
  }

  &.current {
    position: relative;
    display: block;
    color: $accent-color;

    &::after {
      position: absolute;
      display: block;
      content: '';
      left: 0;
      top: 42px;
      width: 100%;
      height: 4px;
      border-radius: 2px;
      background-color: $accent-color;
    }
  }
}

.adress {
  font-style: normal;

  .header & {
    margin-left: auto;
  }
}

.adress-list {
  display: flex;

  &-item:not(:last-child) {
    margin-right: 30px;
  }
}

.adress-list-link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: $mine-text-color;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.adress-icon {
  margin-right: 10px;
  fill: $mine-text-color;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .adress-list-link:hover &,
  .adress-list-link:focus & {
    fill: $accent-color;
  }
}

.icon-mail-svg {
  width: 16px;
  height: 12px;
}

.icon-tel-svg {
  width: 10px;
  height: 16px;
}

.adress-list-link,
.navigation-list-link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
