// .hero {
//   background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/hero/bg.jpg');
//   background-repeat: no-repeat;
//   max-width: 1600px;
//   margin: 0px auto;

//   &-title {
//     font-weight: 900;
//     font-size: 44px;
//     line-height: 1.364;
//     text-align: center;
//     margin: 0 auto;
//     letter-spacing: 0.06em;
//     text-transform: uppercase;
//     color: $secondary-text-color;
//     padding-bottom: 30px;
//     width: 696px;
//   }

//   &-btn {
//     text-align: center;
//   }
// }

// .modal-btn {
//   font-family: $mine-font;
//   font-style: normal;
//   font-weight: 700;
//   font-size: 16px;
//   line-height: 1.875;
//   text-align: center;
//   letter-spacing: 0.06em;
//   color: $secondary-text-color;
//   background-color: $accent-color;
//   padding: 10px 28px;
//   min-width: 200px;
//   height: 50px;
//   border-radius: 4px;
//   border-style: hidden;
//   margin: 0 auto;
//   cursor: pointer;
// }
