.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  align-items: center;

  .header & {
    display: flex;
  }

  .hero & {
    padding-top: 200px;
    padding-bottom: 200px;
  }

  .portfolio-selector & {
    padding-top: 94px;
    padding-bottom: 34px;
  }
}
