$mine-font: 'Roboto', sans-serif;
$secondary-font: 'Raleway', sans-serif;
$mine-text-color: #757575;
$title-text-color: #212121;
$secondary-text-color: #ffffff;
$accent-color: #2196f3;
$mine-background: #ffffff;
$secondary-background: #2f303a;
